<!DOCTYPE html>
<html>
<head>
    <title> Skill - View All</title>
</head>
    <body>
        <h1>Skill</h1>

        <table border = "1">
            <tr>
                <th>ID Number</th>
                <th>Skill</th>
                <th>Description</th>
                <th>Actions</th>
                <th>Delete</th>
            </tr>
            <% for(var i = 0; i < skill.length; i++) {%>
            <tr>
                <td><%= skill[i].skill_id %></td>
                <td><%= skill[i].skill_name %></td>
                <td><%= skill[i].description %></td>

                <td><a href="/skill/edit/?skill_id=<%= skill[i].skill_id %>">
                       Edit</a>
                </td>
                <td><a href="/skill/delete/?skill_id=<%= skill[i].skill_id %>">
                        Delete</a>
                </td>
            </tr>
            <% } %>
        </table>
    </body>
</html>